.blogList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-top: 2rem;
    gap: 20px;

}

.blogLink {
    position: relative;
    transition: color 0.2s ease-in-out;
}

.blogLink:hover {
    color: rgb(72, 11, 255);
}

.blogLink::before {
    position: absolute;
    content: "";
    background-color: lime;
    height: 0%;
    width: 0%;
    z-index: -1;
    transition: height 0.1s ease-in-out, width 0.3s ease-in-out;
    top: 100%;

}

.blogLink:hover::before {
    height: 10%;
    width: 100%;
}